html, body {
	width: 100%;
}

a {
	text-decoration: none;
	color: #FFF;
}

strong {
	color: #ff0000;
}

/*============================================
=            Some helpful classes            =
============================================*/

.wrapper {
	margin: 0 auto;  
	width: 1250px; 
	height: 1540px;
	background-image: url('../images/background.jpg');
	font-family: 'Bitter', Times, serif;
}

.clear {
	clear: both;
	overflow: hidden;
}

.up {
	text-transform: uppercase;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*===================================
=            Top Header            =
===================================*/


.top {
	margin: 0 135px -55px 135px;  
}

.logo {
	margin-left: 25px;
	padding-top: 35px;
	margin-bottom: 40px;
}

.call {
	font-size: 14px;
	color: #FFF;
	margin-top: 13px;
	margin-right: 16px;
	padding-top: 20px;
	background-image: url('../images/call_top.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 250px;
}

.call:hover {
	margin-top: 10px;
}

.call p {
	margin-left: 60px;
	margin-top: 0;
	height: 25px;
}


	/*==================================
	=            Navigation            =
	==================================*/

nav {
	
	margin-bottom: 30px;
	position: relative;
	
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	
	background: rgb(239, 241, 248);
	background: -webkit-linear-gradient(90deg, rgb(239, 241, 248) 0%, rgb(197, 211, 227) 100%);
	background:    -moz-linear-gradient(90deg, rgb(239, 241, 248) 0%, rgb(197, 211, 227) 100%);
	background:     -ms-linear-gradient(90deg, rgb(239, 241, 248) 0%, rgb(197, 211, 227) 100%);
	background:      -o-linear-gradient(90deg, rgb(239, 241, 248) 0%, rgb(197, 211, 227) 100%);
	background:         linear-gradient(180deg, rgb(239, 241, 248) 0%, rgb(197, 211, 227) 100%);
}

nav>a {
	display: inline-block;
	height: 50px;
	padding: 0px 20px;
	border-right: 1px solid #bdcad8;
	color: #000;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;	
}

nav>a:hover {
	color: #ff0000;
}

nav a p {
	margin: 1.3em auto;
}

	/*-----  End of Navigation  ------*/

/*-----  End of Top Header  ------*/


/*=============================
=            Offer            =
=============================*/


#offer {
	height: 487px;
	background-image: url('../images/offer_background.jpg');
	background-repeat: no-repeat;
}

#offer section{
	padding: 50px 0;
	margin: 0 164px;  
}

#offer section header {
	text-align: center;
	height: 64px;
	font-size: 12px;
	color: #FFF;
	background-image: url('../images/red_tape.png');
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 25px;
}

#offer section header h2 {
	padding-top: 5px;
	height: 100%;
}

#onetwothree {
	margin-top: 5px;
}

#onetwothree img {
	float: left;
	margin-right: 8px;
	margin-top: -5px;
}

#onetwothree p {
	padding: 7px 0px 20px 0px;
	color: #1a4d6f;
	font-size: 18px;
	letter-spacing: 0.05px;
}

#onetwothree>div {
	display: block;
	height: 42px;
	width: 380px;
	background: rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 40px 0 0 40px;
	        border-radius: 40px 0 0 40px;
}

#onetwothree>div:last-child {
	margin-top: 5px;
	background: none;
	padding: 0;
}

.livehelp p{
	display: block;
	background-image: url('../images/live_help.png');
	background-repeat: no-repeat;
	background-position: top left;
	text-align: center;
	width: 150px; 
	margin-left: 50px;
}

.livehelp p a {
    font-weight: bold;
    margin-left: 15px;
}

.livehelp p:hover {
	margin-top: 20px;
}

/*-----  End of Offer  ------*/

/*============================
=            Help            =
============================*/

#help {
	background: #464646;
	height: 90px;
	
}

#help h2 {
	font-size: 24px;
	text-shadow: 1px 1px 0px rgba(30, 30, 30, 0.8);
	margin: 0 150px 8px 148px; 
	padding-top: 15px; 
	color: #e2e8f2;
}

#help p {
	margin: 0 148px; 
	font-family: 'Droid Sans', sans-serif;
	font-size: 10px;
	color: #bababa;
	text-shadow: 1px 1px 0px rgba(30, 30, 30, 0.8);
}

.get_button {
	margin-right: 135px;
	margin-top: 20px;
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	padding: 5px 30px 10px 30px;
	text-shadow: 1px 1px 0px rgba(30, 30, 30, 0.8);
	
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	
	-webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.75);
	   -moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.75);
	
	background: rgb(252, 41, 39);
	background: -webkit-linear-gradient(rgb(252, 41, 39) 0%, rgb(250, 20, 20) 100%);
	background:    -moz-linear-gradient(rgb(252, 41, 39) 0%, rgb(250, 20, 20) 100%);
	background:     -ms-linear-gradient(rgb(252, 41, 39) 0%, rgb(250, 20, 20) 100%);
	background:      -o-linear-gradient(rgb(252, 41, 39) 0%, rgb(250, 20, 20) 100%);
	background:         linear-gradient(rgb(252, 41, 39) 0%, rgb(250, 20, 20) 100%);	
}	

.get_button:hover {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
	
	-webkit-box-shadow: 0px 2px 0px rgba(50, 50, 50, 1);
       -moz-box-shadow: 0px 2px 0px rgba(50, 50, 50, 1);
			box-shadow: 0px 2px 0px rgba(50, 50, 50, 1);
	
	background: rgb(250, 20, 20);
	background: -webkit-linear-gradient(rgb(250, 20, 20) 100%, rgb(252, 41, 39) 0%);
	background:    -moz-linear-gradient(rgb(250, 20, 20) 100%, rgb(252, 41, 39) 0%);
	background:      -o-linear-gradient(rgb(250, 20, 20) 100%, rgb(252, 41, 39) 0%);
	background:         linear-gradient(rgb(250, 20, 20) 100%, rgb(252, 41, 39) 0%);	
}

/*-----  End of Help  ------*/

/*=============================
=            Steps            =
=============================*/

#steps {
	color: #7b7b7b;
	background-color: #FFF;
	padding-top: 75px;
}

#three {
	margin-left: 135px;
	width: 660px;
}

#three>header:first-child {
	background-image: url('../images/resolve_background.png');
	color: #fff;
	height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 23px;	
	text-shadow: 1px 1px 0px rgba(30, 30, 30, 0.8);
}

#three header p {
	padding-top: 3px;
}

#columns {
	margin-top: 30px;
}

#columns>div:not(:last-child) {
	margin-right: 10px;
}

.card {
	width: 180px;
	float: left;
	border: 1px solid #7b7b7b;
	font-family: Arial;
	font-size: 12px;
	padding: 15px;
	text-align: center;
	line-height: 20px;
	
	-webkit-box-shadow: 0px 6px 5px 0px rgba(30, 30, 30, 0.5);
	-moz-box-shadow:    0px 6px 5px 0px rgba(30, 30, 30, 0.5);
	box-shadow:         0px 6px 5px 0px rgba(30, 30, 30, 0.5);
}

.card header {
	font-family: 'Bitter', Times, serif;
	color: #1a4d6f;
	font-size: 18px;
	letter-spacing: 0.05px;
	text-transform: uppercase;
}

	/*=============================
	=            Aside            =
	=============================*/


aside {
	float: right;
	width: 280px;
	margin-right: 135px;
	margin-top: -90px;
}

aside header {
	height: 32px;
	background-image: url('../images/testimonial.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 20px;
}

aside h2 {
	font-size: 14px;
	text-shadow: 1px 1px 0px rgba(30, 30, 30, 0.8);
	font-weight: bold;
	text-align: center;
	color: #FFF;
	padding-top: 5px;
}

#testimonial {
	border: 1px solid #7b7b7b;
	width: 300px;
	margin-bottom: 75px;
	
	-webkit-box-shadow: 0px 6px 5px 0px rgba(30, 30, 30, 0.5);
	-moz-box-shadow:    0px 6px 5px 0px rgba(30, 30, 30, 0.5);
	box-shadow:         0px 6px 5px 0px rgba(30, 30, 30, 0.5);
}

#testimonial tr:not(:last-child) {
	height: 90px;
	width: 100%;
}

#testimonial tr:last-child td:first-child {
	vertical-align: baseline;
	padding-top: 22px;
}

.number {
	width: 45px;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	border: 1px solid #7b7b7b;
	border-right: 3px double #7b7b7b;
}
 
.row_content {
	font-family: Arial;
	font-size: 12px;
	line-height: 1.5;
	padding: 0px 15px;
	border: 1px solid #7b7b7b;
	text-align: justify;
}

.row_content a:first-child {
	color: blue;
}

.read_more {
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
	color: red;
	float: right;
}

.read_more:hover {
	margin-top: 18px;
	margin-bottom: 17px;
}

	/*-----  End of Aside  ------*/

/*-----  End of Steps  ------*/

/*==============================
=            Footer            =
==============================*/

	/*-----  Links  ------*/


.links {
	margin-top: 30px;
	margin-left: 135px;
	width: 700px;
	color: #a2a2a3;
	float: left;
}

.links a {
	color: #a2a2a3;
}

.links img {
	padding: 0px 15px 0px 5px;
}

.links span {
	padding: 0px 15px 0px 5px;
}

.links tr {
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(30, 30, 30, 1);
	height: 35px;
	text-align: justify;
}

.links td {
	padding: 5px;
}

.full {
	border-bottom: 2px dashed #6a6a6c;
}

	/*-----  End of Links  ------*/
	
	/*-----  Contacts  ------*/

.contacts {
	width: 350px;
	margin-top: 70px;
	float: right;
	font-size: 18px;
	color: #828282;
}

.contacts p {
	margin: 5px 0px;
}

.phone {
	font-weight: bold;
	color: #FFF;
}

	/*-----  End of Contacts  ------*/
	
	/*-----  Copyright  ------*/
	
.copyright {
	height: 45px;
	width: 100%;
	text-align: center;
	color: #4b5566;
	background-color: #22272f;
}

.copyright p {
	padding-top: 12px;
}

	/*-----  End of Copyright  ------*/
	
/*-----  End of Footer  ------*/